@use '../utilities/' as *;
@use '../globals/' as *;

.nav {
  font-weight: 500;
  // overflow: hidden;

  display: flex;

  @include breakpoint-down('small') {
    justify-content: space-between;
  }

  align-items: center;
  padding: rem(16) 0;
  padding-left: rem(16);

  & .logo {
    cursor: pointer;
  }

  & .hamburger {
    z-index: 20;

    & .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #000;
        stroke-width: 5.5;
        stroke-linecap: round;
      }
    }

    & .hamRotate.active {
      transform: rotate(45deg);
    }

    & .hamRotate180.active {
      transform: rotate(180deg);
    }

    & .ham8 .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }

    & .ham8 .bottom {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }

    & .ham8 .top {
      stroke-dasharray: 40 160;
    }

    & .ham8.active .top {
      stroke-dashoffset: -64px;
    }

    & .ham8.active .middle {
      transform: rotate(90deg);
    }

    & .ham8.active .bottom {
      stroke-dashoffset: -64px;
    }
  }

  & .wrapper-menu {
    font-size: rem(14);

    @include breakpoint-down('small') {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -100%;
      width: 15rem;
      padding-top: rem(70);
      z-index: 10;
    }

    background-color: $almostWhite;
    transition: right 0.3s ease-in;

    &.showMenu {
      // display: block;
      right: 0;
    }

    & .container-list {
      & .nav-list {
        @include breakpoint-down('small') {
          flex-direction: column;
        }

        display: flex;
        gap: rem(25);
        padding-inline: rem(26);

        & .features {
          cursor: pointer;

          &:hover {
            color: $almostBlack;
            font-weight: 500;
          }

          & .chevron {
            transition: transform 0.3s ease-in;

            &.rotate {
              transform: rotate(180deg);
            }
          }

          & .features-list {
            flex-direction: column;
            gap: rem(15);

            @include breakpoint-down('small') {
              margin-left: rem(15);
            }

            // Hide list
            display: none;
            transition: all 0.3s ease;

            &.showList {
              display: flex;
              margin-top: rem(25);
            }

            & li {
              display: flex;
              align-items: center;
              font-size: rem(12);

              & .img-wrap {
                flex-basis: rem(23);
              }
            }
          }
        }

        & .company {
          cursor: pointer;

          &:hover {
            color: $almostBlack;
            font-weight: 500;
          }

          & .chevron {
            transition: transform 0.3s ease-in;

            &.rotate {
              transform: rotate(180deg);
            }
          }

          & .company-list {
            display: flex;
            flex-direction: column;
            gap: rem(15);

            @include breakpoint-down('small') {
              margin-left: rem(15);
            }

            // Hide list
            display: none;
            transition: all 0.3s ease;

            &.showList {
              display: flex;
              margin-top: rem(25);
            }

            & li {
              font-size: rem(12);
            }
          }
        }
      }
    }

    & .logins {
      @include breakpoint-down('small') {
        flex-direction: column;
        margin-top: rem(25);
      }
      display: flex;
      align-items: center;
      gap: rem(13);

      & .btn-regist {
        width: 80%;
        font-weight: 500;
        transition: all 0.1s ease-in;

        &:hover,
        &:active {
          background-color: $almostBlack;
          color: $almostWhite;
        }
      }
    }
  }
}

@include breakpoint-up('medium') {
  .nav {
    padding-inline: 2.5rem;
    margin-bottom: 2rem;

    & .logo {
      margin-right: 1rem;
    }

    & .hamburger {
      display: none;
    }

    .wrapper-menu {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;

      & .features-list {
        position: absolute;
        align-items: stretch;
        width: 132px;
        padding: 1.5rem;
        border-radius: 13px;
        background-color: $almostWhite;
        left: -4%;

        box-shadow: hsla(0, 0%, 0%, 0.164) 0px 0px 15px 2px;
        z-index: 10;
      }

      & .company-list {
        position: absolute;

        align-items: stretch;
        width: 107px;
        padding: 1.5rem;
        border-radius: 13px;
        background-color: $almostWhite;
        left: 16%;

        box-shadow: hsla(0, 0%, 0%, 0.164) 0px 0px 15px 2px;

        z-index: 20;
      }

      & .logins {
        margin-left: auto;
      }
    }
  }
}
